body { font-family: lucinda, helvetica; font-size: 16px; }

a, a:visited { color: #ff9999; }
h3 { margin-top:0px; padding-top:0px; }

.top { position: absolute; left:20px; top:20px; width: 980px; height: 60px; }
.left { position: absolute; left: 20px; top: 90px; width: 100px; height: 400px; }
.middle { position: absolute; left: 130px; top: 90px; width: 660px; height: 400px; text-align: justify; padding-left: 5px; padding-right: 5px;}
.right { position: absolute; left: 810px; top: 90px; width: 190px; height: 400px; }
.sponsortitle { font-weight: bold; }
ul.sponsorlist { list-style-type: none; padding-left: 0px; }
